fastapi
uvicorn
sqlalchemy
pydantic
slowapi
passlib[bcrypt]
pwdlib[argon2]
argon2-cffi
python-jose[cryptography]
python-multipart
celery>=5.3.6
redis>=5.0.1
ansible>=8.0.0
paramiko
ansible-pylibssh
netaddr